@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppin", sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

main {
	min-height: 100vh;
}
